
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/var/
/vendor/
/.idea
/.lh
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
